<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">독보적인 공간정보 기술을 보유한 세계적인 강소기업</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/innopam.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014년 6월</h4>
                                    <h4 class="subheading">주식회사 이노팸, 법인 설립</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2014년 6월 주식회사 이노팸은 법인을 설립하고, 벤처기업 인증을 하였습니다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/smba.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018년 3월 ~ 7월</h4>
                                    <h4 class="subheading">중소기업 인증</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2018년 3월 주식회사 이노팸은 중소기업 등록을 하였고 7월에 벤처기업 인증을 갱신하였습니다.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/MLIT.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018년 8월</h4>
                                    <h4 class="subheading">드론 규제샌드박스 사업수행</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">국토교통부의 '드론 규제 샌드박스 시범사업'에 LG유플러스, 한국가스공사, 한국가스기술공사, 한화정밀기계, 이노팸 컨소시엄으로 사업 수행</p>
                                </div>
                            </div>
                        </li>
						<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/SeoulCity.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018년 10월</h4>
                                    <h4 class="subheading">서울형 R&amp;D 사업, 올해의 최우수기업 선정</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">서울시가 진행한 '기술상용화 지원사업'에서 이노팸이 <a href="https://news.joins.com/article/23025936" target="_new">서울형 R&amp;D 사업, 올해의 최우수기업</a>으로 선정되었습니다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>현재</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>