<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">이노팸은 당신의 연락을 기다리고 있습니다.</h3>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-4 col-sm-4">
                    <a href="tel:02-6233-8012" class="contact-link">
                        <span class="icon map"></span>
                        <p class="text-muted">서울시 동대문구 서울시림대로 163 서울시립대학교 21세기관 711호</p>
                    </a>
                </div>    
                <div class="col-md-4 col-sm-4">
                   <a href="tel:010-2764-1432" class="contact-link">
                        <span class="icon fax"></span>
                        <p class="text-muted">010-2764-1432</p>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                   <a href="mailto:info@tilab.co.kr" class="contact-link">
                        <span class="icon email"></span>
                        <p class="text-muted">dkc@gmail.com</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
