<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
	<meta name="robots" content="all" />
    <meta name="author" content="Jeongyong Park">
	<meta name="keywords"	 content="이노팸, InnoPAM, 서울시립대, 공간정보공학과, 공간정보, 시립대, GIS, 사진측량, Geospatial, Geographic Infromation Systems, Geomatics, 드론, 무인기, MMS, 이임평, 무인항공기, 고속 자동매핑, 실내 모델링, 실외 모델링, 멀티센서, 실시간 공중자료, 실시간 공간정보, 이동형 멀티센서, 컴퓨터 비전, Computer Vision" />
    <meta name="description" content="공간정보 구축 솔루션, 무인항공기 기반 고속 자동매핑, 멀티센서 데이터 기반 실내,실외 모델링, 비전 센서 기반 차량 측위 및 매핑, 실시간 공중자료 획득 및 공간정보 생성기술, 이동형 실내 멀티센서 데이터 획득 및 모델링 기술을 보유함">

	<meta property="og:type"		content="website" />
	<meta property="og:url"     	content="http://www.innopam.com/" />
	<meta property="og:title"		content="InnoPAM 이노팸" />
	<meta property="og:site_name"   content="InnoPAM 이노팸" />
	<meta property="og:image"       content="http://www.innopam.com/img/innopam_fb.png" />
	<meta property="og:description"	content="공간정보 구축 솔루션, 무인항공기 기반 고속 자동매핑, 멀티센서 데이터 기반 실내,실외 모델링, 비전 센서 기반 차량 측위 및 매핑, 실시간 공중자료 획득 및 공간정보 생성기술, 이동형 실내 멀티센서 데이터 획득 및 모델링 기술을 보유함" />
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@innopam"/>
	<meta name="twitter:creator" content="@innopam"/>
	<meta name="twitter:url" content="http://www.innopam.com/"/>
	<meta name="twitter:image:src" content="http://www.innopam.com/img/innopam_fb.png"/>
	<meta name="twitter:title" content="InnoPAM 이노팸"/>
	<meta name="twitter:description"	content="공간정보 구축 솔루션, 무인항공기 기반 고속 자동매핑, 멀티센서 데이터 기반 실내,실외 모델링, 비전 센서 기반 차량 측위 및 매핑, 실시간 공중자료 획득 및 공간정보 생성기술, 이동형 실내 멀티센서 데이터 획득 및 모델링 기술을 보유함" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<script type="application/ld+json">
		{
		  "@context" : "http://schema.org",
		  "@type" : "Organization",
		  "url" : "http://www.innopam.com",
		  "logo" : "http://www.innopam.com/img/logs/innopam_ci_m.png",
		  "contactPoint" : [{
			"@type" : "ContactPoint",
			"email":"dkc.work1@gmail.com",
			"contactType" : "customer service"
		  }],
		  "address": { "@type" : "PostalAddress", "postalCode": "04366", "streetAddress" : "청파로 77", "addressLocality" : "용산구", "addressRegion" : "서울특별시", "addressCountry":"KR"; }
		}
		</script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
