<!-- Services Section -->
    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/product/1523502590716547.jpg" class="img-responsive img-centered" alt="">
                    <h4 class="service-heading">BX316</h4>
                    <p class="text-muted">GNSS Real-Time Kinematic PPK Board</p>
					<button class="btn-buy" onclick="buy_store('BX316')">
                </div>
				<div class="col-md-4">
                    <img src="img/product/1523254450692044.jpg" class="img-responsive img-centered" alt="">
                    <h4 class="service-heading">BX316R</h4>
                    <p class="text-muted">GNSS Post Processing Kinematic PPK Board</p>
                </div>
                <div class="col-md-4">
					<img src="img/product/1523269723876133.jpg" class="img-responsive img-centered" alt="">
                    <h4 class="service-heading">GNSS Receiver</h4>
                    <p class="text-muted">Rover Kit Network Mode</p>
                </div>
                <!-- <div class="col-md-4"> -->
                    <!-- <span class="fa-stack fa-4x"> -->
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <!-- </span> -->
                    <!-- <h4 class="service-heading">Web Security</h4> -->
                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
                <!-- </div> -->
            </div>
        </div>
    </section>