<!-- Solutions Grid Section -->
    <section id="solutions" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Solutions</h2>
                    <h3 class="section-subheading text-muted">드론 매핑, 실/내외 3D 모델 분야의 독보적인 기술로 해결합니다.</h3>
                </div>
            </div>
            <div class="row">
            {% for solution in site.solutions %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#solutionModal{{ solution.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ solution.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ solution.title }}</h4>
                        <p class="text-muted">{{ solution.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
